<div class="container text-center">
	<h1 class="mt-5">Q&A投稿</h1>
	<div class="bg-light mb-5 p-5 w-75 mx-auto rounded">
		<h4>カテゴリーを選ぶ</h4>
		<select class="custom-select w-50">
		  <option selected>選択する</option>
		  <option value="1">mineo</option>
		  <option value="2">LINEモバイル</option>
		  <option value="3">その3</option>
		</select>
		<h4 class="mt-4">タイトル</h4>
		<input type="text" class="form-control w-75 mx-auto" placeholder="タイトルを入力してください">
		<h4 class="mt-4">質問内容</h4>
		<textarea class="form-control" id="question1" rows="10"></textarea>
		<button class="mt-5 btn btn-lg btn-success">投稿する</button>
	</div>
</div>