<div class="container">
	<ul class="nav nav-tabs">
	  <li class="nav-item"><a href="#" class="nav-link">使用者情報</a></li>
	  <li class="nav-item"><a href="#" class="nav-link">お気に入りしたプラン</a></li>
	  <li class="nav-item"><a href="#" class="nav-link">質問履歴</a></li>
	  <li class="nav-item"><a href="#" class="nav-link">回答履歴</a></li>
	  <li class="nav-item"><a href="#" class="nav-link active">いいねした投稿</a></li>
	</ul>
</div>