/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

body {
	background-color: #eee;
}

.footer-height {
	height: 100px;
}

.data-list {
	width: 400px;
	margin: 0 auto;
}

#modal-maxwidth {
	max-width: 800px;
}

.price-font-size {
	font-size: 2rem;
}
.search-side-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}
.plan-show-info-table, .plan-show-option-table {
	font-size: 1.3rem;
	td{
		width:300px;
	}
}


.qustion-body {
	white-space: normal;
	box-sizing: border-box;
}

.result-right-table td{
	max-width: 200px;
}
.s-text-size {
	font-size: 14px;
}

.plan-show-right-table th {
	width:200px;
}

.review-user-name {
	font-size: 14px;
}

.top-ranking-table {
	td:nth-child(1){
		width: 15%;
	}
	td:nth-child(2){
		width: 25%;
	}
	td:nth-child(3){
		width: 60%;
	}
}

.select-category {
	font-size: 16px;
}

.top-search-table {
	th{
		background-color: #CCCCCC;
	}
	td{
		background-color: #fff;
	}
}

.responsive-search-box {
	display: none;
}

.plan-show-sticky {
		position: -webkit-sticky;
		position: sticky;
		top: 10px;
}

@media screen and (min-width: 576px) {
	.plan-box {
		width: 75%;
	}
}

@media screen and (max-width: 575px) {
	.top-search-table {
		th, td{
			display: block;
    		width: 100%;
		}
		th{
			background-color: #CCCCCC;
		}
		.form-check-inline {
			display: block;
			text-align: left;
		}
	}
	.top-ranking-table {
		table,th,td{
			border: none;
		}

		td:nth-child(1){
			display: block;
			width:100%;
		}
		td:nth-child(2){
			display: block;
			width: 25%;
			float: left;
		}
		td:nth-child(3){
			display: block;
			width: 75%;
			float: left;
		}
	}
	.search-side-bar {
		display: none;
	}
	.responsive-search-box{
		display: block;
	}
	.price-font-size {
		font-size: 1.5rem;
	}
	.search-result-border {
		display: none;
	}
	.after-line-break::after {
	  content: "\A" ;
	  white-space: pre;
	}
	.plan-show-image {
		display: none;
	}

	.plan-show-info-table {
		td,th {
			font-size: 1rem;
			width: auto;
		}
	}

	.plan-show-option-table {
		th {
			display: none;
		}
		td {
			width:100%;
			display: block;
			font-size: 1rem;
		}
	}
	.plan-show-sticky-res {
		position: -webkit-sticky;
		position: sticky;
		bottom: 0px;
	}

}



