<div class="container text-center">
	<div id="step1">
		<h4 class="mt-5">SNSやLINEを</h4>
		<div class="list-group mx-auto mt-5 mb-5" style="max-width: 400px;">
		  <button type="button" class="list-group-item list-group-item-action mb-3">よく使う</button>
		  <button type="button" class="list-group-item list-group-item-action mb-3">まあまあ使う</button>
		  <button type="button" class="list-group-item list-group-item-action">ほとんど使わない</button>
		</div>
	</div>
	<div id="step2">
		<h4 class="mt-5">動画を</h4>
		<div class="list-group mx-auto mt-5 mb-5" style="max-width: 400px;">
		  <button type="button" class="list-group-item list-group-item-action mb-3">よく見る</button>
		  <button type="button" class="list-group-item list-group-item-action mb-3">たまに見る</button>
		  <button type="button" class="list-group-item list-group-item-action">ほとんど見ない</button>
		</div>
	</div>
	<div id="step3">
		<h4 class="mt-5">通信速度が</h4>
		<div class="list-group mx-auto mt-5 mb-5" style="max-width: 400px;">
		  <button type="button" class="list-group-item list-group-item-action mb-3">気になる</button>
		  <button type="button" class="list-group-item list-group-item-action mb-3">気にならない</button>
		  <button type="button" class="list-group-item list-group-item-action">意味がよくわからない</button>
		</div>
	</div>
</div>