<footer class="fixed-bottom">
	<div class="bg-dark text-light">
		<h4 class="text-center pt-4">格安スマホ.com</h4>
		<h6 class="text-center"><a href="#">利用規約<a> | <a href="#">お問い合わせ</a></h6>
	</div>
</footer>