<footer class="mt-auto">
	<div class="bg-dark text-light footer-height d-flex flex-column justify-content-center">
		<div><h4 class="text-center">格安スマホ乗換案内</h4></div>
		<div class="text-center"><a href="#">利用規約<a> | <a href="#">お問い合わせ</a></div>
	</div>
</footer>